	

<div class="p-5 mb-4 bg-body-tertiary rounded-3 ">
	<div class="container-fluid py-5 center">
		<h1 class="display-5 fw-bold">Welcome to the Sample App</h1>
		<p class="center">
			This is the home page for the Ruby on Rails Tutorial sample application
		</p>
		<div><%= link_to "Sign Up Now", signup_path, class: "btn btn-primary" %></div>
	</div>

</div>
