<% provide(:title, @user.name) %>

<br>
<br>

<div class="container d-flex justify-content-xl-center">

	<div class="card" style="width: 18rem;">
	   
	  <h1 class="card-header"><%= @user.name %></h1>
	  
	  <div class="card-body">
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item"><%= @user.name %></li>
		    <li class="list-group-item"><%= @user.email %></li>
		  </ul>
		  <div class="card-body">
		    <a href="#" class="card-link">Card link</a>
		    <a href="#" class="card-link">Another link</a>
		  </div>
		</div>

	</div>
</div>